@font-face {
    font-family: 'DINPRO';
    src: url('FontsFree-Net-DINPro-1.ttf') format('opentype');
}


#navbar{
    z-index: 1;

}

.custom {
    margin-top: 16%;
    width: 3vw ;
    height: 5vw ;
    border-radius: 0% 25% 25% 0%!important;
    
    opacity: 1 !important;
    background: #DB812D!important;
}

.custom2 {
    margin-top: 16%;
    width: 3vw;
    height: 5vw;
    border-radius: 25% 0 0 25% !important;
    opacity: 1;
    background: #DB812D!important;
}

.bg-custom{
    background: #DB812D!important;
}


.tituloLojas{
    display: flex;
    justify-content: center;
    font-size: 1vw;
    padding-top: 2vw;
    font-size: 1.5em;
    color: white;
    font-style: normal;
    font-family: 'DINpro';
    
}

.btnLojas{
    font-size: 1vw;
    width: 15vw;
    height: 3vw;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 1vw 1vw 1vw 1vw  !important;
    margin-bottom: 1%;
}

.tituloPromo{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding-top: 2vw;
    color: #DB812D;
    font-style: normal;
    
}

.contCustom{
    padding: 0px;
    margin: 0px;

}

.carouselCustom{
    width: 20vw;
    height: 20vw;
}

.cinemarkPromo{
    display: flex;
    align-items: center;
    flex-direction: column;
}


#carouselCinemark{
    width: 15vw;
}

.owlCustom{
    max-width: 50vw!important;
}